{% extends 'layouts/base.html' %}

{% block title %}
    Listar Actores
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <h3 class="one">&nbsp;</h3>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Orden</th>
            <th>Nombre de la Pelicula</th>
            <th>Actor</th>
            <th>Foto</th>
        </tr>
        </thead>
        <tbody>
        {% for actor in actores %}
            <tr>
                <td>{{forloop.counter }}</td>
                <td>{{actor.id_pelicula.all.0.titulo }}</td>
                <td>{{actor.nombre}}</td>
                <td><img src= "http://127.0.0.1:8000/pictures/{{ actor.imagen }}" width ="50px" height="50px"></td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}